/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;
  color: black; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: lightblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: lightyellow;
}

#button5 {
    background: lightgray;
}

#button6 {
    background: #00917c;
}

#button1:active, #button1.lit {
  background: green;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3:active, #button3.lit {
  background: red;
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5:active, #button5.lit {
  background: gray;
}

#button6:active, #button6.lit {
  background: #025955;
}

.danger {
  color: red;
}

img {
  width: 100px;
  height: 150px;

}


